[Unit]
Description=aml-vnc
After=graphical.target

[Service]
ExecStart=/storage/.kodi/addons/service.system.aml-vnc/bin/aml-vnc
TimeoutStopSec=1
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=kodi.target
